header{
    width: 1000px;
    height: 60px;
    background: #e6e6e6;
}
a{
    text-decoration: none;
    color: dodgerblue;
}
nav{
    width: 400px;
    height: 50px;
    float: left;
    padding: 0px;
    margin-top: 5px;
    vertical-align: top;
}
.top{
    padding: 20px;
    width: 150px;
    height: 20px;
    float: right;
}
.log{
    color: white;
    background-color: dodgerblue;
    float: right;
    border-style: none;
    padding: 10px;
    margin-top: -10px;
}
ul>li
{
    display: inline-block;
}
li{
    width:80px;
}
.lf{
    width: 450px;
    height: 300px;
    float: left;
}
.rt{
    width: 450px;
    float: right;
    height: 300px;
    margin-left: 10px;
}
h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
section p{
    color: grey;
}
section button{
    color: white;
    background-color: dodgerblue;
    border-style: none;
    padding: 10px;
}
.one{
    margin-left: 40px;
    height: 300px;
    width: 920px;
    border-bottom: 2px solid #e6e6e6 ;
}
section img{
    margin-top: 10px;
}
form{
    margin-top: 10px;
    background-color: #e6e6e6;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 220px;
    float: right;
    color: black;
}
.search{
    margin-top: 10px;
}
h4{
    margin-left: 40px;
}
.sm{
    margin-left: 0px;
}
.big{
    width: 270px;
    margin: 10px;
    border: 2px solid #e6e6e6 ;
}
.two{
    display:flex;
    flex-wrap: wrap;
    margin-left: 40px;
    width: 930px;
}
figcaption h4{
      margin-left: 0;
  }
figcaption p{
    color: grey;
}
.LM{
    color: dodgerblue;
    background-color: white;
    width: 860px;
    padding: 5px;
    border-color: dodgerblue;
    margin-left: 50px  ;
}
.uls{
    width: 1000px;
    background-color: #e6e6e6;
    display:flex;
    flex-wrap: wrap;
}
.spisok{
    color: dodgerblue;
    padding: 10px;
    padding-left: 0px;
}
.Head{
    font-size: 18px;
    margin-top: 10px;
    width: 200px;
}
.foot{
    width: 230px;
}
.foot2{
    padding-left: 0px;

    width: 230px;
}